<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	  <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\adventure-works-2008r2-dw-data-file.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
   <system.net>

  </system.net>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
