/****************************************************
Class name for each element just append -themename to your class name and set the cssTheme property to 
your themename

 Menu
 	DTIMenuOuter
 	DTIMenuText
 	DTIMenu
 	DTIMenuItem
 	
 Recycle Bin
 	DTIRecycleBinOuter
 	DTIRecycleBin
 	DTIRecycleBinHandle
 	DTIRecycledItem
 	
 Sortable
 	DTISortable
 	DTISortableItem
 	DTIItemHandle
 	DTIPlaceHolder
 	DTIConnectedSortable
 ********************************************************************/
.DTIConnectedSortable-default {
	min-height:100px;
	height:auto !important;
	height:100px;
}

.DTIItemHandle-default {
	background-color:#052A3A;
	color:white;
	padding:5px;
	cursor:move;
}

 .DTIMenuOuter-default, .DTIRecycleBinOuter-default {
	background-color: #eeeeee;
	padding: 10px;
} 

.DTIPlaceHolder-default { 
	height: 6em; 
	line-height: 1.5em;
	background-image: url('slash.png');
}
